[Unit]
Description=Automated Weather Observation System - Transmitter
After=hciuart.service

[Service]
ExecStart=/home/pi/projects/lora-awos/start.py --spreading-factor=9 --bandwidth=125 --transmit-power=10
WorkingDirectory=/home/pi/projects/lora-awos
Type=simple

[Install]
WantedBy=multi-user.target
